@import url("https://fonts.googleapis.com/css2?family=Acme&family=Kaushan+Script&display=swap");
*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: palegoldenrod;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  margin-bottom: 2rem;
  font-family: "Acme", sans-serif;
  font-size: 5rem;
  font-weight: bolder;
  color: darkgreen;
}

.canvas-container {
  position: relative;
}

.canvas-container button {
  position: absolute;
}

.canvas-container button:hover {
  cursor: pointer;
}

.touch-pad {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(221, 221, 221, 0.473);
  border: none;
}

#Snake {
  box-shadow: 0 0 8px #000;
}
.container h2 {
  font-size: 2rem;
}
.github-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 5px 5px 0;
}

.github-container a {
  text-decoration: none;
  color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.github-container a:hover {
  opacity: 0.9;
  text-decoration: underline;
}

.github-container a span {
  margin-right: 1rem;
}

@media (max-width: 512px) {
  .container h1 {
    font-size: 2.5rem;
  }

  .github-container {
    font-size: 0.8rem;
  }

  .github-container svg {
    width: 20px;
  }
}
